<div class="container col-5">
  <div class="form-group">
    <label>Email Address</label>
    <input
      [(ngModel)]="email"
      class="form-control"
      type="email"
      placeholder="Email giriniz..."
    />
  </div>
  <div class="form-group">
    <label>Şifre</label>
    <input
      [(ngModel)]="password"
      class="form-control"
      type="password"
      placeholder="Şifre giriniz..."
    />
  </div>
  <button (click)="login()" class="btn btn-success">Giriş Yap</button>
</div>
<hr>
<div class="container">
  <app-parent></app-parent>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <app-component-left></app-component-left>
    </div>
    <div class="col-6">
      <app-component-right></app-component-right>
    </div>
  </div>
</div>
